.custom-button {
  width: 349px;
  height: 72px;
  background: #FFBB37;
  font-family: 'Space Mono', monospace;
  font-size: 30px;
  color: black;
  border-radius: 15px;
  border-width: 1px;
  border-color: #000000;
  box-shadow: 9px 8px #555555;

  display: flex;
  align-items: center;
  justify-content: center;
}