
/* Light Mode (Default) */
:root {
  --bg-color: white;
  --black100: #1C1C1C;
  --black40: rgba(28, 28, 28, 0.4); /* light text */
  --black20: rgba(28, 28, 28, 0.2);
  --header-bg: #f8f9fa;
  --dark-opacity: rgba(28, 28, 28, 0.05);
  --black10: rgba(28, 28, 28, 0.1);            /* border */
  --primary-light: #F7F9FB;                    /* secondary color */
  --primary-blue: #E3F5FF;
  --primary-purple: #E5ECF6;
  --secondary-cyan: #A8C5DA;
  --secondary-cyan2: #A8C5DA80;
  --primary-brand: #1C1C1C;
  --white40: rgba(255, 255, 255, 0.4);
}

/* Dark Mode */
[data-theme="dark"] {
  --bg-color: #1C1C1C;
  --black100: #FFFFFF;
  --black40: rgba(255, 255, 255, 0.4);
  --black20: rgba(255, 255, 255, 0.2);
  --header-bg: #292b2c;
  --dark-opacity: rgba(255, 255, 255, 0.1);
  --black10: rgba(255, 255, 255, 0.1);
  --primary-light: rgba(255, 255, 255, 0.05);
  --primary-blue: #E3F5FF;
  --primary-purple: #E5ECF6;
  --secondary-cyan: #A8C5DA;
  --secondary-cyan2: #A8C5DA80;
  --primary-brand: #C6C7F8;
  --white40: rgba(28, 28, 28, 0.4);
}

body {
  background-color: var(--bg-color);
  color: var(--black100);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dashboard-container {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--black100);
  display: grid;
  height: 100vh;
  transition: grid-template-columns 0.3s ease; 
}